<!-- This will be the nemu area -->
<div class="navbar navbar-default navbar-fixed-top">

    <!-- brand area of the nemu -->
    <div class="navbar-header">
        <a class="navbar-brand" style="font-size: x-large">
            <strong>Razor Samples</strong>
        </a>
    </div>

    <!-- menu: menu root items -->
    <ul class="nav navbar-nav">
        <!-- root menu item -->
        <li><a href="@Href("~/default.cshtml")">Home</a></li>


        <!-- creat a drop down menu list (submenus)-->
        <li class="dropdown">
            <!-- toogle root menu item -->
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Controls<b class="caret"></b></a>
            <!-- code the actual sub menu items -->
            <ul class="dropdown-menu">
                <li><a href="@Href("~/Controls/TextBoxes.cshtml")">TextBoxes</a></li>
                <li><a href="@Href("~/Controls/RadioButtons.cshtml")">RadioButtons</a></li>
                <li><a href="@Href("~/Controls/CheckBoxes.cshtml")">CheckBoxes</a></li>
                <li><a href="@Href("~/Controls/DropDownList.cshtml")">DropDownList</a></li>
            </ul>
        </li>

    </ul>

</div>


